canvas, svg {
    position: absolute;
    top: 0;
    left: 0;
}

.spectrogram {
    position: relative;
}

.axis {
    font: 14px sans-serif;
}

.axis path, .axis line {
    fill: none;
}

.axis line {
    shape-rendering: crispEdges;
    stroke: #444;
    stroke-width: 1.0px;
    stroke-dasharray: 2, 4;
}

#progress-line {
    stroke: #a50f15;
    stroke-width: 4px;
}