body {
  font: 14px sans-serif;
}

canvas, svg {
  position: absolute;
  top: 0;
  left: 0;
}

.spectrogram {
  position: relative;
}

.axis path,
.axis line {
  fill: none;
  /* stroke: #000; */
  /* shape-rendering: crispEdges; */
}

.axis line {
  shape-rendering: crispEdges;
  stroke: #444;
  stroke-width: 1.0px;
  stroke-dasharray: 2,4;
}

.axis .minor line {
}


