body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  /* stroke: #000; */
  /* shape-rendering: crispEdges; */
}

.axis line {
  shape-rendering: crispEdges;
  stroke: #ddd;
  stroke-dasharray: 2,2;
}

.axis .minor line {
}


